# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

/.next
/dist/
/dist
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.development
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Firebase
google-services.json
GoogleService-Info.plist
firebase-config.js
.firebase/

# Android
android/**/build/
android/captures
android/.idea
android/local.properties
android/.gradle

# Capacitor
ios/
resources/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log

# APK files
*.apk

service-account.json

scripts/firestore-queries/*

agent_deploy/*.json

agent_deploy/*.csv

agent_deploy/__pycache__

job_crawler/venv/
job_crawler/firebase-credentials.json

matching/venv/
matching/.env
